.logo img {
  width: 60px;
  height: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
  color: white;
  position: fixed;
  width: 97%;
  z-index: 1;
  height:100px;
  background: linear-gradient(to top,transparent 0%,rgb(0,0,0,0.3) 50%)
}

.container_left {
  display: flex;
}
.nav_options_bar_1 {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.nav_options_bar_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_options_bar_1 li {
  list-style-type: none;
  padding: 0 1rem 0 1rem;
}
.nav_options_bar_2 img {
  height: 40px;
}

.nav_options_bar_2 li {
  padding: 0 1rem 0 1rem;
  list-style-type: none;
}

.profile .ArrowDropDown_options {
  display: none;
}
.profile:hover .ArrowDropDown_options {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  border-radius: 3px;
  padding: 0.2rem;
}

.ArrowDropDown_options {
  background-color: #0b0b0b;
}
.ArrowDropDown_options span {
  padding: 10px 3px 10px 3px;
}
.icon {
  cursor: pointer;
}
.link{
   text-decoration: none;
   color: white;
}
